{% extends "base.html.twig" %}

{% block title %}AppBundle:TodoList:create{% endblock %}

{% block h1 %}
    <h1>Modification</h1>
{% endblock h1 %}

{% block content %}

    {{ form_start(form) }}

    {% do form.submit.setRendered %}

    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.title) }}
    </div>
    <div class="form-group">
        <label class="custom-control custom-checkbox">
            {{ form_widget(form.checked, {'attr': {'class': 'custom-control-input'}}) }}
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Tâche terminé</span>
        </label>
    </div>

    <div class="form-group">
        {{ form_row(form.update, {'attr': {'class': 'btn'}}) }}
        {{ form_row(form.delete) }}
    </div>

    {{ form_end(form) }}
{% endblock %}
